* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica;
  }

  header {
    padding: 4px;
    font-size: 10px;
    color: blue;
    width: 100%;
    border-bottom: 2px solid gray
  }

  .mensagem {
    border: 1px solid gray;
    padding: 8px;
    width: 100%;
  }

  div {
    width: 40%;
    padding:8px 8px;
  }

  .atendente { 
    left: 0;
    text-align: start;
}
  .voce { 
    right: 0;
    margin-left: 60%;
    text-align: end;
  }

  .chat {
    margin: 0 auto;
    border: 1px solid gray;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 2px;
  }

  .mensagem p {
    border: 1px solid gray;
    padding: 6px 10px; 
  }
  
  .input-container {
    display: flex;
    width: 97%;
  }
  
  .input-container button {
    padding: 8px 16px;
    margin-left: 16px;
    border: 1px solid gray;
  }
  
  .input-container input {
    padding: 6px;
    width: 100%;
  }
  
